/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    background-color:  #4e73df;;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor__logo{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__user{
    border-left: 2px solid #1cc88a;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}


.logo img {
 
 margin-right: 10px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {

    background-color: #2563EB;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #f8f9fc;
    top: 100%;
    left: 0;
    min-width: 150px;
    border-radius: 5px;  
    transition: all 0.4s ease;
}
.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li a {
    padding: 10px;
    white-space: nowrap;
    color :#5a5c69
}

.dropdown-menu li a:hover {
    background-color: #1cc88a;
    color: #f8f9fc;
    
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* Main Section */
main {
    flex: 1;
    padding: 40px;
    text-align: center;
    background-color: #f4f4f4;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
